<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neptun - Felvett tárgyak</title>
</head>
<body>
    <table>
        <th>Tárgykód</th>
        <th>Tárgy neve</th>
        <th>Kredit</th>
        <th>Típus</th>
        <%
        let sum = 0;
        addedSubjects.forEach(element => { 
        sum = sum + Number(element.SubjectCredit); %>
            <tr>
                <td><%- element.SubjectCode %> </td>
                <td><%- element.SubjectName %> </td>
                <td><%- element.SubjectCredit %> </td>
                <td><%- element.SubjectType %> </td>
                <td>
                    <form action="GetCourses" method="post">
                        <button type="submit" name="subjectid" value="<%- element.SubjectID %>">Kurzusok megtekintése</button>
                    </form>
                </td>
            </tr>
            <% }) %>
    </table>
    <br>Összes felvett kredit: <%- sum %> 
</body>
</html>